:root{
  --page-color: #111e42;
  --navPage-color: #031136;
  --inkNav:#ccc;
  
}


*{
padding:0;
  margin:0;
  box-sizing:0;
  
}
a{
  text-decoration: none;
  color: var(--inkNav);
}
ul{
  list-style: none;
}
body {
  background: var(--page-color);
 
font-size: clamp(1rem, 0.75rem+1.25vw, 2rem);
 } 
 .image{
   max-width: 100%;
   width:100%;
   position:fixed;
   top:70px;
   z-index: -1;
   min-height: 100vh;
   opacity: 0.5;
  
 }

.container { 
   max-width: 1440px;
  padding: 0 15px;
  background-color: var(--page-color);
box-shadow: 3px 3px 5px #ccc;
  
}
.navbar{
  width:100%;
  margin: 0 auto;
  min-height:70px;
  display: flex;
  justify-content :space-between;
  align-items: center;
  position:relative;
  
}

.nav-branding a{
  color:var(--inkNav);
  font-size:2rem;
  font-weight: bold;

}
.bi{
   font-size:3rem;
   color: var(--inkNav);
   margin-right:10px;
 }

.nav-list{
  display: flex;
  flex-flow : row no-wrap;
  justify-content:space-between;
  gap: 100px;
  transition : all 0.5s ease;

}

.nav-link{
  transition: all 3s ease;
}
.hamburger{
  display:none;
}
.dash{
  width: 30px;
  height:3px;
  background-color:var(--inkNav);
  margin-top: 5px;
  transition : all 0.5s ease;
}


@media screen and (max-width: 767px){
  html{
    font-size: 14px;
  }
  .hamburger{
    display: block;
  }
 .nav-list{
   flex-flow : column wrap;
   background-color:var(--navPage-color);
   width:80%;
   align-items: center;
   gap: 0;
   position:fixed;
   top:-400px;
   right:0;
 
 }
 
 .nav-item{
  margin: 20px auto;

}
 .hamburger.active .dash:nth-child(1){
   transform: translateY(8px) rotate(45deg);
 }
 .hamburger.active .dash:nth-child(3){
   transform: translateY(-8px) rotate(-45deg);
 }
 
 .hamburger.active .dash:nth-child(2){
   opacity: 0;
 }
 .nav-list.active{
   top:70px;
   right:0;
}
}

#carousel {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}  
.slide-indicators {
    display: flex;
    justify-content: center;
}
.slide-indicator {
    height: 44px;
    width: 50px;
    display: flex;
    justify-items: center;
    cursor: pointer;
}
.slide-indicator:after {
    content: "";
    background-color: #878787;
    height: 10px;
    margin-top: 10px;
    width: 40px;
}
.slide-indicator.active:after,
.slide-indicator:hover:after {
    background-color: #000000;
}
.slide-banner {
    background-color: #dedede;
    color: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    font-size: 2.5vw;
    z-index: 10;
    opacity: 0.5;
}
.slide-banner a {
    color: #000000;
}
#slide-container {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.slide {
    scroll-snap-align: center;
    position: relative;
    min-width: 100%;
    padding-top: 50%;
}
.slide img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.arrow {
  margin:auto;
    color: #ffffff;
    height: 40px;
    width: 40px;
    background-color: #000000;
    position: absolute;
    padding: 10px;
    opacity: .3;
    cursor: pointer;
    top:0;
    bottom:0;
    border-radius :50%;
    font-size:2rem;
    line-height:40px;
}
.arrow.back {
    left: 10px;
}
.arrow.forward {
    right: 10px;
}
.arrow:hover {
    opacity: 1;
}

